# Dependencies
node_modules/

# Dist 
dist/
build/

# Plasmo specific directories
.plasmo/
out/

# Development environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TurboRepo and caching
.turbo/
.cache/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories
.idea/
.vscode/
.vim/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.swp
*.swo
*~
*.tmp
*.bak 
.cursor/
coverage/